@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
    box-sizing: border-box;
}
:root {
    --white: #fff;
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --gradient: linear-gradient(
        90deg,
        rgba(255, 163, 153, 1) 0%,
        rgba(255, 77, 151, 1) 100%
    );
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
    color: var(--white);
}
.background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-color: var(--very-dark-blue);
    min-height: 100vh;
}
.background__image {
    position: absolute;
    z-index: -1;
    height: 50vh;
    width: 100%;
    bottom: 0;
    object-fit: cover;
    object-position: 0 0;
}
.card {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
}
.card__text-bold {
    font-weight: bold;
}
.card__left {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    min-height: 20rem;
    min-width: 35rem;
    border-radius: 1.2rem 10rem 1.2rem 1.2rem;
    background-color: var(--dark-blue);
}
.card__icon-list {
    display: flex;
    gap: 1.6rem;
}
.card__logo {
    margin-bottom: 3.5rem;
}
.card__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 5rem;
    height: 5rem;
    background-color: var(--very-dark-blue);
}
.card__right {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 4rem;
    min-height: 16rem;
    min-width: 54rem;
    border-radius: 1.2rem;
    background-color: var(--dark-blue);
}
.card__right__content {
    width: 100%;
}
.card__float {
    background-color: var(--white);
    position: absolute;
    padding: 2.2rem 2.5rem;
    border-radius: 1.2rem 1.2rem 0 1.2rem;
    right: 4rem;
    top: -5.5rem;
}
.card__float::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    top: 100%;
    right: 0;
    border-top: 2.5rem solid var(--white);
    border-left: 2.5rem solid transparent;
}
.card__float-left {
    vertical-align: middle;
    font-weight: bold;
    color: var(--very-dark-blue);
    font-size: 3.8rem;
}
.card__float-right {
    vertical-align: middle;
    font-weight: bold;
    color: var(--grayish-blue);
    text-transform: uppercase;
}
.card__notification {
    margin-bottom: 2rem;
}
.card__storage-bar {
    position: relative;
    margin-bottom: 1.5rem;
}
.card__storage-bar__full {
    width: 100%;
    background-color: var(--very-dark-blue);
    height: 1.6rem;
    border-radius: 4rem;
}
.card__storage-bar__current {
    position: absolute;
    width: 75%;
    background: rgb(255, 163, 153);
    background: var(--gradient);
    height: 1.2rem;
    border-radius: 4rem;
    top: 50%;
    transform: translateY(-50%);
    left: 0.3rem;
}
.card__storage-bar__circle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background-color: var(--white);
    border-radius: 50%;
    right: 0.2rem;
}
.card__storage-text {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}
@media screen and (max-width: 1023px) {
    .card {
        align-items: stretch;
        flex-direction: column;
    }
    .card__float {
        top: 75%;
        left: 0;
        right: 0;
        width: fit-content;
        margin: 0 auto;
        border-radius: 1.2rem;
    }
    .card__right {
        padding: 0 4rem 3.5rem 4rem;
    }
    .card__float::after {
        display: none;
    }
    .background__image {
        display: none;
    }
    .background {
        background-image: url("./img/bg-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 767px) {
    .card__left,
    .card__right {
        min-width: unset;
    }
}
